body{
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}

body, .page-header-items, .nav-logo, .home-heading, .footer-text, .button-info{
    margin: 0;
}

.page-header, .nav-list{
    display: flex;
    justify-content: flex-end;
}

.home-section, .services-section, .border-class{
    display: flex;
}

.home-header{
    background-color: rgb(60, 94, 142);
    height: 20px;
    width: 251px;
}

.page-header-items a, .nav-list-item a, .home-heading, .article-content, .article-content-link, .services-list-items a, .services-article-title, .services-article-info, .article-info-link, .article-list-item, .button-info, .button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-text, .footer-text a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.page-header-items a{
    color: #ffff;
    text-decoration: none;
    font-size: 9px;
    letter-spacing: 0.1px;
    margin-top: 0;
    padding-left: 7px;
    padding-top: 0px;
}

.page-header-items .header-link::after{
    content: '|';
}

.main-info{
    margin: auto;
    width: 767px;
    box-sizing: border-box;
}

.navbar{
    background-color: rgba(13, 31, 49, 0.863);
    height: 49px;
    margin-top: 25px;
}

.nav-list{
    list-style-type: none;
    margin-top: 9px;
    padding-right: 20px;
    border-width: 0;
}

.nav-list-item{
    padding-top: 0.6px;
    font-size: 21px;
    padding: 0px 10px;
    color:#ffff ;
    
}

.nav-list-item a{
    text-decoration: none;
    color: rgb(149, 200, 227);
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 50px;
    font-weight: 400;
}

.nav-list-item-new{
    margin-top: 3px;
}

.nav-list-item-new::before{
    content: '|';
    color: #ffff;

    font-size: 18px;
}

.logo-img{
    float: left;
    height: 125px;
    width: auto;
    padding-left: 13px;
    position: absolute;
    top: 8px;
}

.home-info{
    height: 138px;
    background-color: rgba(26, 23, 25, 0.39);
}

.home-heading{
    text-transform: uppercase;
    font-size: 34px;
    color: white;
    font-weight: 200;
    white-space: pre;
    letter-spacing: 8px;
    padding-top: 35px;
    padding-left: 25px;
}

.home-section{
    background-color: rgba(13, 31, 49, 0.863);
    width: 767px;
    height: 501px;
}

.home-article{
    width: 218px;
    padding: 16px 14px 15px 20px;
}

.article-img{
    width: 216px;
    height: 98px;
}
.article-content{
    color: #ffff;
    padding-right: 2px;
    font-size: 13px;
    line-height: 17.5px;
    font-weight: 300;
}

.article-content-link{
    color: rgb(188, 240, 255);
    font-weight: 300;
    line-height: 16px;
    font-size: 13px;
}

.home-footer{
    background-color: rgba(12, 25, 39, 0.466);
    text-align: center;
    margin-top: 4px;
    height: 25px;
    margin-bottom:4px;
}

.footer-text{
    font-size: 12px;
    letter-spacing: 0.4px;
    color: rgb(216, 245, 253);
    padding-top: 5px;
}

.footer-text a{
    color: rgb(188, 240, 255);
}

.services-section{
    margin-top: 39px;
    height: 488px;
    margin-bottom: 9px;
    background-color: rgba(13, 31, 49, 0.904);
}

.services-article-aside{
    width: 261px;
    padding: 10px 20px 20px 25px;
}

.services-article-img{
    padding-top: 13px;
    height: 97px;
    width: 224px;   
}

.services-list{
    width: 224px;
    border-top: 0.4px solid rgb(86, 110, 117) ;
    border-bottom: 0.4px solid rgb(86, 110, 117) ;
    display: block;
    letter-spacing: 0.1px;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 12px;
}

.services-list-items{
    list-style-type: none;
    padding-bottom: 1px;
}

.services-list-items a{
    color: rgb(167, 195, 220);
    font-size: 14px;
    font-weight: 400;
}

.services-article-content{
    padding-right: 30px;
    padding-left: 8px;
}

.services-article-title{
    color: rgb(184, 213, 239);
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 19px;
    font-weight: 300;
}

.services-article-info{
    color: #ffff;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}

.services-article-list{
    padding-bottom: 10px;
}

.article-info-link{
    color: rgb(184, 213, 239);
}

.article-list-item{
    color: #ffff;
    font-size: 13.1px;
    line-height: 16px;
}

.button-container{
    border-top: 0.4px solid rgb(86, 110, 117) ;
    border-bottom: 0.4px solid rgb(86, 110, 117) ;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(31, 46, 63);
    padding-left: 45px;
}

.button-info{
    padding-bottom: 10px;
    color: #ffff;
    font-size: 13.1px;
}

.button{
    background-image: linear-gradient(to bottom, rgb(20, 94, 117),rgb(39, 77, 124),rgb(13, 42, 61));
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(125, 166, 177);
    color: rgb(154, 201, 214);
    padding-bottom: 4px;
}

.border-class{
    border: 1px solid rgb(72, 92, 99);
    outline-color: rgb(23, 38, 68);
    outline-style: solid;
    margin: 4px 4px;
    border-image:linear-gradient(transparent, rgb(72, 92, 99)) 1;
    border-bottom:1;
}

.border-nav{
    border: 1px solid rgb(66, 84, 90);
    margin: 6px 4px;
    outline-color: rgb(23, 38, 68);
    outline-style: solid;
    margin-bottom: 0;
    height: 44px;
    outline-width: 4px;
}

.nav-list-item:hover{
    background-color: rgb(72, 104, 129); 
    text-align: center;
    border-radius: 4px;
}